
.gallery__item {

}

.gallery__img {
  width: 100%;
  height: auto; // FORA
  object-fit: cover;
  // display: block; 
  // background-size: auto 100%;
  // background-repeat: no-repeat;
  // background-position: center;

  box-shadow: -2px 2px 10px 0px rgba(#444, 0.4);
  transition: transform 0.3s ease-in-out;
  &:hover {
    transform: scale(1.05);
    
    &:after {
      opacity: 0;
    }
  }
}

.spinner {
  height: 300px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}